:root {
  --main-bg-color: #ffffff;
  --main-second-bg-color: #f5f4fa;
  --primary-color: #2196f3;
  --secondary-color: #2f303a;
  --logo-color: #000000;
  --main-text-color: #212121;
  --p-text-color: #757575;
  --elements-background: #eeeeee;
  --svg-color: #afb1b8;
  --main-spacing: 0.03em;
  --transition-dur-and-func: 250ms linear;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  border: none;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-bg-color);
}

.list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 768px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-bg-color);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-and-func), visibility var(--transition-dur-and-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: 0;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu__close-icon {
    width: 40px;
    height: 40px;
  }
  .mobile-menu__nav-list {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 302px;
  }
  .mobile-menu__nav-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
  }
  .mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
    color: var(--primary-color);
  }
  .mobile-menu__contacts {
    display: flex;
    flex-direction: column;
    padding-bottom: 64px;
  }
  .mobile-menu__tel {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
  }
  .mobile-menu__tel:hover, .mobile-menu__tel:focus {
    color: var(--primary-color);
  }
  .mobile-menu__email {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
  }
  .mobile-menu__email:hover, .mobile-menu__email:focus {
    color: var(--primary-color);
  }
  .mobile-menu__media-links {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--primary-color);
  }
  .mobile-menu__media {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .mobile-menu__media li:nth-child(-n+3) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: var(--main-spacing);
  color: var(--primary-color);
  padding-bottom: 25px;
  padding-top: 24px;
}
.logo .studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: var(--main-spacing);
  color: var(--logo-color);
}

@media screen and (max-width: 767px) {
  .logo-footer {
    padding-left: 30px;
  }
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: var(--main-spacing);
  color: var(--primary-color);
}
.logo-footer .studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: var(--main-spacing);
  color: var(--main-bg-color);
}

@media screen and (min-width: 768px) {
  .logo-footer {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    padding-left: 0px;
  }
}
.service-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--main-bg-color);
  background: var(--primary-color);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  cursor: pointer;
}

.second-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--main-spacing);
  color: var(--main-text-color);
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .list-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  /*here is full code*/
  .list-footer {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
  }
  .list-footer__list-address-item:nth-child(n) {
    margin-bottom: 9px;
  }
  .address-footer-container {
    margin-top: 20px;
  }
  .address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--main-spacing);
    color: var(--main-bg-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .list-footer__contact-details-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--main-spacing);
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color var(--transition-dur-and-func);
  }
  .list-footer__contact-details-footer:hover, .list-footer__contact-details-footer:focus {
    color: var(--primary-color);
  }
}
.list-footer__list-address-item:nth-child(n) {
  margin-bottom: 9px;
}

.address-footer-container {
  margin-top: 20px;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--main-spacing);
  color: var(--main-bg-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-footer__contact-details-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--main-spacing);
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: color var(--transition-dur-and-func);
}
.list-footer__contact-details-footer:hover, .list-footer__contact-details-footer:focus {
  color: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .list-footer {
    align-items: baseline;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms ease, visibility 500ms ease;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 601px;
  padding: 40px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.modal-close-btn:hover {
  fill: var(--primary-color);
  cursor: pointer;
}

.modal-form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__desc {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--p-text-color);
}

.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: background-color var(--transition-dur-and-func);
}
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--primary-color);
  cursor: pointer;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form__message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--p-text-color);
}
.modal-form__message:focus {
  border-color: var(--primary-color);
  outline: none;
}

.modal-form__check-field {
  display: flex;
  align-items: center;
  color: var(--p-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-form__check {
  position: absolute;
  appearance: none;
}
.modal-form__check:checked + .modal-form__own-checkbox {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.modal-form__own-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form__check:focus + .modal-form__own-checkbox {
  box-shadow: 0 0 0 2px var(--primary-color);
}

.modal-form-own-checkbox-icon {
  display: none;
  fill: var(--main-bg-color);
}
.modal-form__check:checked + .modal-form__own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}

.link-user-consent {
  color: var(--primary-color);
}

.modal-form-submit {
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  padding: 10px 52px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-bg-color);
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: #188ce8;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  .contact__details {
    display: none;
  }
  .menu__link {
    display: none;
  }
  .open-mobile-menu-btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    line-height: 0;
  }
  .open-mobile-menu-btn__icon {
    width: 40px;
    height: 40px;
  }
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .border-line {
    border-bottom: #ececec 1px solid;
  }
  .main-nav {
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    align-items: center;
    gap: 87px;
  }
  .menu {
    display: flex;
    gap: 24px;
    margin-right: auto;
  }
  .menu__link {
    display: flex;
    flex-direction: row;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color var(--transition-dur-and-func);
  }
  .menu__link:hover, .menu__link:focus,
.menu__link .active {
    color: var(--primary-color);
  }
  .line:hover::after,
.active::after {
    display: flex;
    position: absolute;
    margin-top: 44px;
    content: "";
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contact__details {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--p-text-color);
    padding-top: 21px;
    padding-bottom: 25px;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: color var(--transition-dur-and-func);
  }
  .contact__details:hover, .contact__details:focus {
    color: var(--primary-color);
  }
  .contact__details:hover svg, .contact__details:focus svg {
    fill: var(--primary-color);
  }
  .icon-envelope {
    fill: var(--p-text-color);
    margin-right: 10px;
  }
  .icon-envelope:hover {
    cursor: pointer;
    fill: var(--primary-color);
  }
  .icon-smartphone {
    fill: var(--p-text-color);
    margin-right: 10px;
  }
  .icon-smartphone:hover {
    cursor: pointer;
    fill: var(--primary-color);
  }
}
@media screen and (min-width: 1200px) {
  .open-mobile-menu-btn {
    display: none;
  }
  .main-nav {
    padding-right: 93px;
  }
  .page-header {
    display: flex;
  }
  .menu {
    gap: 50px;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 50px;
  }
  .contact__details {
    display: row;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.17;
  }
}
@media screen and (max-width: 767px) {
  .main-heading {
    width: 360px;
    font-size: 26px;
    line-height: 1.61;
    margin: 0 auto;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg-color);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(.././images/hero_section/hero_mobile_1x.jpg) 1x, url(.././images/hero_section/hero_mobile_2x.jpg) 2x);
  }
}
@media screen and (min-width: 768px) {
  .main-heading {
    width: 600px;
    font-size: 45px;
    line-height: 1.61;
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set(url(../../images/hero_section/hero_tablet_1x.jpg) 1x, url(../../images/hero_section/hero_tablet_2x.jpg) 2x);
  }
}
@media screen and (min-width: 1200px) {
  .main-heading {
    width: 696px;
    font-size: 44px;
    line-height: 1.3;
  }
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero_section/hero_default_size.jpg);
  }
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.main-heading {
  margin: 0 auto;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: var(--secondary-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
  }
  .subscribe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .email-form__input {
    width: 450px;
  }
  .button-submit-container {
    margin-top: 20px;
  }
}
.footer-icons-heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: var(--main-spacing);
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link-footer:hover, .social-list-link-footer:focus {
  cursor: pointer;
  background-color: var(--primary-color);
}
.social-list-link-footer:hover .social-list-icon {
  fill: var(--main-bg-color);
}

.social-list__icon-footer {
  fill: var(--main-bg-color);
}

.subscribe-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}

.email-form__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  color: var(--main-bg-color);
}
.email-form__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-left: 28px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: var(--primary-color);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: var(--main-bg-color);
  margin-left: 12px;
}

.button-send-icon {
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    align-content: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .footer-container__left {
    display: flex;
    flex-direction: column;
  }
  .footer-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 70px;
  }
  .footer-icons-heading {
    align-self: center;
  }
  .subscribe-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .email-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .subscribe-container {
    margin-left: 93px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0px;
  }
  .footer-icons-heading {
    align-self: baseline;
  }
  .email-form {
    display: flex;
    flex-direction: row;
  }
  .email-form__input {
    width: 358px;
  }
}
@media screen and (max-width: 767px) {
  .section-services__desc {
    display: flex;
    flex-direction: column;
  }
  .section-services {
    padding-top: 30px;
    padding-bottom: 94px;
    justify-content: center;
    align-items: center;
  }
  .list-item__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heads {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--main-spacing);
    text-transform: uppercase;
    color: var(--main-text-color);
  }
  .heads__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: var(--main-spacing);
    color: var(--p-text-color);
  }
  .list__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    gap: 30px;
    margin-top: 30px;
    background-color: var(--main-second-bg-color);
  }
}
@media screen and (min-width: 768px) {
  .section-services__desc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .section-services__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .section-services {
    padding-top: 60px;
    padding-bottom: 94px;
  }
  .heads {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--main-spacing);
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }
  .heads__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: var(--main-spacing);
    color: var(--p-text-color);
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .list__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    gap: 30px;
    background-color: var(--main-second-bg-color);
  }
}
@media screen and (min-width: 1200px) {
  .section-services__wrapper {
    display: flex;
    flex-direction: row;
  }
  .section-services__desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .list__image-container {
    width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .what-we-do {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .what-we-do {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: flex;
    padding-bottom: 94px;
  }
  .do-list-wrapper {
    position: relative;
  }
  .do-list-wrapper__do-overlay {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 370px;
    height: 70px;
    color: var(--main-bg-color);
    background-color: hsla(235deg, 10%, 21%, 0.8);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .team-picture {
    width: 450px;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .team-picture {
    width: 354px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .list-wrapper {
    flex-wrap: nowrap;
  }
  .team-picture {
    width: 270px;
  }
  .team {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.team {
  display: flex;
  flex-direction: column;
  background-color: var(--main-second-bg-color);
  align-items: center;
}

.team-description {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  align-items: center;
  padding: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team-description__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: var(--main-spacing);
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  fill: #afb1b8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--transition-dur-and-func);
}
.social-list__link:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  fill: #afb1b8;
}
.social-list__link:focus {
  cursor: pointer;
  background-color: var(--primary-color);
  fill: #afb1b8;
}

.social-list__link:hover .social-list__icon {
  fill: #ffffff;
}

.social-list__link:focus .social-list__icon {
  fill: #ffffff;
}

.team-description__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: var(--main-spacing);
  color: var(--p-text-color);
  margin-bottom: 16px;
}

.social-list__icon:hover {
  fill: var(--primary-color);
}

@media screen and (max-width: 767px) {
  .regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--main-bg-color);
  }
  .clients-icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .clients-icons__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .clients-icons__link {
    width: 210px;
    height: 92px;
  }
  .clients-icons__clickable {
    border: 1px solid var(--svg-color);
    border-radius: 4px;
    fill: var(--svg-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color var(--transition-dur-and-func);
  }
  .clients-icons__clickable:hover, .clients-icons__clickable:focus {
    border-color: var(--primary-color);
  }
  .clients-icons__clickable:hover svg, .clients-icons__clickable:focus svg {
    fill: var(--primary-color);
  }
}
@media screen and (min-width: 768px) {
  .clients-icons {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .clients-icons__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
  .clients-icons__link {
    width: 226px;
    height: 92px;
  }
}
.regular-clients {
  display: flex;
  flex-direction: column;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-icons__clickable {
  width: 100%;
  height: 100%;
  border: 1px solid var(--svg-color);
  border-radius: 4px;
  fill: var(--svg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--transition-dur-and-func);
}
.clients-icons__clickable:hover, .clients-icons__clickable:focus {
  border-color: var(--primary-color);
}
.clients-icons__clickable:hover svg, .clients-icons__clickable:focus svg {
  fill: var(--primary-color);
}

@media screen and (min-width: 1200px) {
  .clients-icons {
    display: flex;
    flex-direction: row;
    border: 10px;
  }
  .clients-icons__link {
    width: 170px;
    height: 92px;
  }
}
@media screen and (max-width: 767px) {
  .list-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    margin-bottom: 50px;
  }
  .list-products {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .list-products li {
    display: flex;
    flex-direction: column;
  }
  .list-products li:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-picture {
    width: 450px;
    height: auto;
  }
  .portfolio-main-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  text-align: center;
  background: var(--main-second-bg-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color var(--transition-dur-and-func);
}
.button:hover, .button:focus {
  cursor: pointer;
  background: var(--primary-color);
  color: var(--main-bg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-products__link {
  display: block;
}
.list-products__link:hover .list-products__overlay, .list-products__link:focus .list-products__overlay {
  transform: translateY(0%);
}

.list-products__wrapper {
  position: relative;
  overflow: hidden;
}

.list-products__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.list-products h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.list-products .list-products__para {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: var(--main-spacing);
  color: var(--p-text-color);
  margin-bottom: 4px;
}

.list-products__heading-under-picture {
  background-color: var(--main-bg-color);
  padding: 22px 24px;
  border: 1px solid var(--elements-background);
}

@media screen and (min-width: 768px) {
  .list-buttons {
    display: flex;
    list-style: none;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
  }
  .portfolio_item_wrapper {
    height: 440px;
  }
  .img-size {
    width: 354px;
    height: 294px;
  }
  .list-products__heading-under-picture {
    width: 354px;
    height: 146px;
  }
  .list-products {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .list-products li {
    display: flex;
    flex-direction: row;
  }
  .list-products li:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-main-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .portfolio-picture {
    width: 354px;
    height: 294px;
  }
}
@media screen and (min-width: 1200px) {
  .list-products__heading-under-picture {
    width: 370px;
    height: 146px;
  }
  .portfolio_item_wrapper {
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
  }
  .list-pro .list-products {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .list-pro .list-products li {
    display: flex;
    flex-direction: column;
  }
  .list-pro .list-products li:hover {
    cursor: pointer;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .portfolio-picture {
    width: 370px;
    height: 294px;
  }
  .portfolio-main-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}/*# sourceMappingURL=main.css.map */