@media screen and (max-width: 767px) {
  .section-services__desc {
    display: flex;
    flex-direction: column;
  }

  .section-services {
    padding-top: 30px;
    padding-bottom: 94px;
    justify-content: center;
    align-items: center;
  }

  .list-item__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heads {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--main-spacing);
    text-transform: uppercase;
    color: var(--main-text-color);
  }
  .heads__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: var(--main-spacing);
    color: var(--p-text-color);
  }
  .list__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    gap: 30px;
    margin-top: 30px;
    background-color: var(--main-second-bg-color);
  }
}

@media screen and (min-width: 768px) {
  .section-services__desc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .section-services__wrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .section-services {
    padding-top: 60px;
    padding-bottom: 94px;
  }
  .heads {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--main-spacing);
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 10px;
  }
  .heads__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: var(--main-spacing);
    color: var(--p-text-color);
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .list__image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    gap: 30px;

    background-color: var(--main-second-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .section-services__wrapper {
    display: flex;
    flex-direction: row;
  }
  .section-services__desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .list__image-container {
    width: 270px;
  }
}
