@media screen and (max-width: 767px) {
  .what-we-do {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .what-we-do {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    display: flex;
    padding-bottom: 94px;
  }
  .do-list-wrapper {
    position: relative;
  }
  .do-list-wrapper__do-overlay {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 370px;
    height: 70px;
    color: var(--main-bg-color);
    background-color: hsla(235, 10%, 21%, 0.8);

    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
