@media screen and (max-width: 767px) {
  .logo-footer {
    padding-left: 30px;
  }
}
.logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: var(--main-spacing);
  color: var(--primary-color);

  .studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: var(--main-spacing);
    color: var(--main-bg-color);
  }
}
@media screen and (min-width: 768px) {
  .logo-footer {
    padding-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-footer {
    padding-left: 0px;
  }
}
