.modal-form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 12px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);

  &:focus {
    border-color: var(--primary-color);
    outline: none;
  }
}

.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__desc {
  display: block;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--p-text-color);
}
.modal-form__input-wrapper {
  position: relative;
  display: block;
}

.modal-form__input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: background-color var(--transition-dur-and-func);

  .modal-form__input:focus + & {
    fill: var(--primary-color);
    cursor: pointer;
  }
}

.modal-form__message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);

  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--p-text-color);
  }

  &:focus {
    border-color: var(--primary-color);
    outline: none;
  }
}

.modal-form__check-field {
  display: flex;
  align-items: center;
  color: var(--p-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-form__check {
  position: absolute;
  appearance: none;

  &:checked + .modal-form__own-checkbox {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
  }
}

.modal-form__own-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-text-color);
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;

  .modal-form__check:focus + & {
    box-shadow: 0 0 0 2px var(--primary-color);
  }
}

.modal-form-own-checkbox-icon {
  display: none;
  fill: var(--main-bg-color);

  .modal-form__check:checked + .modal-form__own-checkbox & {
    display: block;
  }
}

.link-user-consent {
  color: var(--primary-color);
}
.modal-form-submit {
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  padding: 10px 52px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  background-color: var(--primary-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-bg-color);
  transition: color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);

  &:hover,
  &:focus {
    background-color: #188ce8;
    color: #ffffff;
  }
}
